pkm-sprite {
    max-width: 68px;
    max-height: 56px;
    align-self: center;
}

.slot-fill :hover {
    transform-origin: center;
    animation: bounce 500ms linear infinite;
}

.party-grid {
    width: 462px; /* (68 + 4 + 5) * 30 */
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}
