table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

.box-slot {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .box-slot:hover {
        background-color: orange;
    }
