@if (BoxEdit is not null)
{
    <div>
        <h3>
            @BoxEdit.BoxName
        </h3>
    </div>

    <table class="table">
        <tbody>
            @for (var rowNum = 0; rowNum < 5; rowNum++)
            {
                <tr>
                    @for (var colNum = 0; colNum < 6; colNum++)
                    {
                        var pkm = BoxEdit[rowNum * 6 + colNum];
                        <BoxSlotComponent Pokemon="pkm" />
                    }
                </tr>
            }
        </tbody>
    </table>
}
