.box-sprite {
    width: 80px;
    height: 80px;
}

.box-slot:hover {
    background-color: orange;
}

.box-slot {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
