<td>
    <div class="box-slot">
        @if (Pokemon is { Species: > 0 } && spriteImageUrl is { Length: > 0 })
        {
            <img class="box-sprite" src="@spriteImageUrl" alt="@SpeciesName.GetSpeciesName(Pokemon.Species, (int)LanguageID.English)" />
        }
    </div>
</td>
