<td>
    <div class="box-slot">
        @if (Pokemon is { Species: > 0 })
        {
            <span class="box-sprite pokesprite pokemon @GetPokemonSpriteCssClass()"></span>
        }
    </div>
</td>
