@if (AppState.SaveFile is { OT.Length: > 0 })
{
    <PageTitle>@AppState.SaveFile.OT</PageTitle>
    <h3>@AppState.SaveFile.OT</h3>
}
else
{
    <PageTitle>Load a Save File</PageTitle>
    <h3>Load a Save File</h3>
}
<div>
    <label for="file">File</label>
    <InputFile id="file" OnChange="@HandleFile" />
</div>
<div class="button-container">
    <button @onclick="LoadSaveFileAsync" type="submit" class="btn btn-primary">Load</button>
</div>
