<span>@OtName</span>
<div>
    <label for="file">File</label>
    <InputFile id="file" OnChange="@HandleFile" />
</div>
<div class="button-container">
    <button @onclick="LoadSaveFileAsync" type="submit" class="btn btn-primary">Load</button>
</div>
