<div>
    <label for="file">File</label>
    <InputFile id="file" OnChange="@HandleFile" />
</div>

<div class="button-container">
    <button @onclick="LoadSaveFileAsync" type="submit" class="btn btn-primary">
        Load
    </button>
</div>

@if (AppState.SaveFile is not null)
{
    <PageTitle>
        @($"PKMDS - {AppState.SaveFile.OT} ({AppState.SaveFile.Version.ToString()})")
    </PageTitle>
    <h3>@AppState.SaveFile.OT</h3>
    <BoxComponent BoxId="0" />
}
