<h3>Pokemon Component</h3>
<label>National ID = @Pokemon.NationalId</label>
<label>@PokemonName</label>
<label>FormeIndex = @Pokemon.FormeIndex</label>
<img class="pokemon-sprite" src="@PokemonSprite" />
