<span>
    <label>Pokemon Component</label>
    <br />
    <label>National ID = @Pokemon.NationalId</label>
    <br />
    <label>@PokemonName</label>
    <br />
    <img class="pokemon-sprite" src="@PokemonSprite" />
</span>
