<form @onsubmit="OnSubmit">
    <InputFile OnChange="OnInputFileChange" />
    <br /><br />
    <button type="submit">Upload Selected File(s)</button>
    <label>Save File Name = "@SaveFileName"</label>
    <label>PartySize = "@PartySize"</label>
</form>

<button @onclick="Refresh">Refresh</button>

@if (PartyPokemon != null)
{
    foreach (PKMDSData.PokemonData pkm in PartyPokemon)
    {
        <br />
        <PokemonComponent @ref="PokemonComponent" Pokemon="@pkm"></PokemonComponent>
    }
}
