.pokesprite { display: inline-block }
.pokesprite.ribbon { background: url('pokesprite-misc.png'); image-rendering: pixelated; image-rendering: -moz-crisp-edges }
.pokesprite.body-style { background: url('pokesprite-misc.png'); image-rendering: pixelated; image-rendering: -moz-crisp-edges }
.pokesprite.special-attribute { background: url('pokesprite-misc.png'); image-rendering: pixelated; image-rendering: -moz-crisp-edges }
.pokesprite.seals { background: url('pokesprite-misc.png'); image-rendering: pixelated; image-rendering: -moz-crisp-edges }
.pokesprite.ribbon.ability-ribbon { width: 40px; height: 40px; background-position: -0px -0px }
.pokesprite.ribbon.alert-ribbon { width: 40px; height: 40px; background-position: -42px -0px }
.pokesprite.ribbon.alola-champion-ribbon { width: 40px; height: 40px; background-position: -84px -0px }
.pokesprite.ribbon.artist-ribbon { width: 40px; height: 40px; background-position: -126px -0px }
.pokesprite.ribbon.battle-champion-ribbon { width: 40px; height: 40px; background-position: -168px -0px }
.pokesprite.ribbon.battle-memory-ribbon { width: 40px; height: 40px; background-position: -210px -0px }
.pokesprite.ribbon.battle-memory-ribbon-gold { width: 40px; height: 40px; background-position: -252px -0px }
.pokesprite.ribbon.battle-royal-master-ribbon { width: 40px; height: 40px; background-position: -294px -0px }
.pokesprite.ribbon.battle-tree-great-ribbon { width: 40px; height: 40px; background-position: -336px -0px }
.pokesprite.ribbon.battle-tree-master-ribbon { width: 40px; height: 40px; background-position: -378px -0px }
.pokesprite.ribbon.beauty-master-ribbon { width: 40px; height: 40px; background-position: -420px -0px }
.pokesprite.ribbon.beauty-ribbon-hoenn { width: 40px; height: 40px; background-position: -462px -0px }
.pokesprite.ribbon.beauty-ribbon-sinnoh { width: 40px; height: 40px; background-position: -504px -0px }
.pokesprite.ribbon.beauty-ribbon-great-sinnoh { width: 40px; height: 40px; background-position: -546px -0px }
.pokesprite.ribbon.beauty-ribbon-hyper-hoenn { width: 40px; height: 40px; background-position: -588px -0px }
.pokesprite.ribbon.beauty-ribbon-master-hoenn { width: 40px; height: 40px; background-position: -630px -0px }
.pokesprite.ribbon.beauty-ribbon-master-sinnoh { width: 40px; height: 40px; background-position: -672px -0px }
.pokesprite.ribbon.beauty-ribbon-super-hoenn { width: 40px; height: 40px; background-position: -714px -0px }
.pokesprite.ribbon.beauty-ribbon-ultra-sinnoh { width: 40px; height: 40px; background-position: -756px -0px }
.pokesprite.ribbon.best-friends-ribbon { width: 40px; height: 40px; background-position: -798px -0px }
.pokesprite.ribbon.birthday-ribbon { width: 40px; height: 40px; background-position: -840px -0px }
.pokesprite.ribbon.blue-ribbon { width: 40px; height: 40px; background-position: -882px -0px }
.pokesprite.ribbon.careless-ribbon { width: 40px; height: 40px; background-position: -924px -0px }
.pokesprite.ribbon.carnival-ribbon { width: 40px; height: 40px; background-position: -966px -0px }
.pokesprite.ribbon.champion-ribbon { width: 40px; height: 40px; background-position: -1008px -0px }
.pokesprite.ribbon.classic-ribbon { width: 40px; height: 40px; background-position: -1050px -0px }
.pokesprite.ribbon.cleverness-master-ribbon { width: 40px; height: 40px; background-position: -1092px -0px }
.pokesprite.ribbon.contest-memory-ribbon { width: 40px; height: 40px; background-position: -1134px -0px }
.pokesprite.ribbon.contest-memory-ribbon-gold { width: 40px; height: 40px; background-position: -1176px -0px }
.pokesprite.ribbon.contest-star-ribbon { width: 40px; height: 40px; background-position: -1218px -0px }
.pokesprite.ribbon.cool-ribbon-hoenn { width: 40px; height: 40px; background-position: -1260px -0px }
.pokesprite.ribbon.cool-ribbon-sinnoh { width: 40px; height: 40px; background-position: -1302px -0px }
.pokesprite.ribbon.cool-ribbon-great-sinnoh { width: 40px; height: 40px; background-position: -1344px -0px }
.pokesprite.ribbon.cool-ribbon-hyper-hoenn { width: 40px; height: 40px; background-position: -1386px -0px }
.pokesprite.ribbon.cool-ribbon-master-hoenn { width: 40px; height: 40px; background-position: -1428px -0px }
.pokesprite.ribbon.cool-ribbon-master-sinnoh { width: 40px; height: 40px; background-position: -1470px -0px }
.pokesprite.ribbon.cool-ribbon-super-hoenn { width: 40px; height: 40px; background-position: -1512px -0px }
.pokesprite.ribbon.cool-ribbon-ultra-sinnoh { width: 40px; height: 40px; background-position: -1554px -0px }
.pokesprite.ribbon.coolness-master-ribbon { width: 40px; height: 40px; background-position: -1596px -0px }
.pokesprite.ribbon.country-ribbon { width: 40px; height: 40px; background-position: -1638px -0px }
.pokesprite.ribbon.cute-ribbon-hoenn { width: 40px; height: 40px; background-position: -1680px -0px }
.pokesprite.ribbon.cute-ribbon-sinnoh { width: 40px; height: 40px; background-position: -1722px -0px }
.pokesprite.ribbon.cute-ribbon-great-sinnoh { width: 40px; height: 40px; background-position: -1764px -0px }
.pokesprite.ribbon.cute-ribbon-hyper-hoenn { width: 40px; height: 40px; background-position: -1806px -0px }
.pokesprite.ribbon.cute-ribbon-master-hoenn { width: 40px; height: 40px; background-position: -1848px -0px }
.pokesprite.ribbon.cute-ribbon-master-sinnoh { width: 40px; height: 40px; background-position: -1890px -0px }
.pokesprite.ribbon.cute-ribbon-super-hoenn { width: 40px; height: 40px; background-position: -1932px -0px }
.pokesprite.ribbon.cute-ribbon-ultra-sinnoh { width: 40px; height: 40px; background-position: -1974px -0px }
.pokesprite.ribbon.cuteness-master-ribbon { width: 40px; height: 40px; background-position: -2016px -0px }
.pokesprite.ribbon.double-ability-ribbon { width: 40px; height: 40px; background-position: -2058px -0px }
.pokesprite.ribbon.downcast-ribbon { width: 40px; height: 40px; background-position: -2100px -0px }
.pokesprite.ribbon.earth-ribbon { width: 40px; height: 40px; background-position: -0px -42px }
.pokesprite.ribbon.effort-ribbon { width: 40px; height: 40px; background-position: -42px -42px }
.pokesprite.ribbon.event-ribbon { width: 40px; height: 40px; background-position: -84px -42px }
.pokesprite.ribbon.expert-battler-ribbon { width: 40px; height: 40px; background-position: -126px -42px }
.pokesprite.ribbon.festival-ribbon { width: 40px; height: 40px; background-position: -168px -42px }
.pokesprite.ribbon.footprint-ribbon { width: 40px; height: 40px; background-position: -210px -42px }
.pokesprite.ribbon.gorgeous-ribbon { width: 40px; height: 40px; background-position: -252px -42px }
.pokesprite.ribbon.gorgeous-royal-ribbon { width: 40px; height: 40px; background-position: -294px -42px }
.pokesprite.ribbon.great-ability-ribbon { width: 40px; height: 40px; background-position: -336px -42px }
.pokesprite.ribbon.green-ribbon { width: 40px; height: 40px; background-position: -378px -42px }
.pokesprite.ribbon.history-ribbon { width: 40px; height: 40px; background-position: -420px -42px }
.pokesprite.ribbon.hoenn-champion-ribbon { width: 40px; height: 40px; background-position: -462px -42px }
.pokesprite.ribbon.kalos-champion-ribbon { width: 40px; height: 40px; background-position: -504px -42px }
.pokesprite.ribbon.land-ribbon { width: 40px; height: 40px; background-position: -546px -42px }
.pokesprite.ribbon.legend-ribbon { width: 40px; height: 40px; background-position: -588px -42px }
.pokesprite.ribbon.marine-ribbon { width: 40px; height: 40px; background-position: -630px -42px }
.pokesprite.ribbon.multi-ability-ribbon { width: 40px; height: 40px; background-position: -672px -42px }
.pokesprite.ribbon.national-champion-ribbon { width: 40px; height: 40px; background-position: -714px -42px }
.pokesprite.ribbon.national-ribbon { width: 40px; height: 40px; background-position: -756px -42px }
.pokesprite.ribbon.pair-ability-ribbon { width: 40px; height: 40px; background-position: -798px -42px }
.pokesprite.ribbon.premier-ribbon { width: 40px; height: 40px; background-position: -840px -42px }
.pokesprite.ribbon.record-ribbon { width: 40px; height: 40px; background-position: -882px -42px }
.pokesprite.ribbon.red-ribbon { width: 40px; height: 40px; background-position: -924px -42px }
.pokesprite.ribbon.regional-champion-ribbon { width: 40px; height: 40px; background-position: -966px -42px }
.pokesprite.ribbon.relax-ribbon { width: 40px; height: 40px; background-position: -1008px -42px }
.pokesprite.ribbon.royal-ribbon { width: 40px; height: 40px; background-position: -1050px -42px }
.pokesprite.ribbon.shock-ribbon { width: 40px; height: 40px; background-position: -1092px -42px }
.pokesprite.ribbon.sinnoh-champion-ribbon { width: 40px; height: 40px; background-position: -1134px -42px }
.pokesprite.ribbon.skillful-battler-ribbon { width: 40px; height: 40px; background-position: -1176px -42px }
.pokesprite.ribbon.sky-ribbon { width: 40px; height: 40px; background-position: -1218px -42px }
.pokesprite.ribbon.smart-ribbon-hoenn { width: 40px; height: 40px; background-position: -1260px -42px }
.pokesprite.ribbon.smart-ribbon-sinnoh { width: 40px; height: 40px; background-position: -1302px -42px }
.pokesprite.ribbon.smart-ribbon-great-sinnoh { width: 40px; height: 40px; background-position: -1344px -42px }
.pokesprite.ribbon.smart-ribbon-hyper-hoenn { width: 40px; height: 40px; background-position: -1386px -42px }
.pokesprite.ribbon.smart-ribbon-master-sinnoh { width: 40px; height: 40px; background-position: -1428px -42px }
.pokesprite.ribbon.smart-ribbon-master-hoenn { width: 40px; height: 40px; background-position: -1470px -42px }
.pokesprite.ribbon.smart-ribbon-super-hoenn { width: 40px; height: 40px; background-position: -1512px -42px }
.pokesprite.ribbon.smart-ribbon-ultra-sinnoh { width: 40px; height: 40px; background-position: -1554px -42px }
.pokesprite.ribbon.smile-ribbon { width: 40px; height: 40px; background-position: -1596px -42px }
.pokesprite.ribbon.snooze-ribbon { width: 40px; height: 40px; background-position: -1638px -42px }
.pokesprite.ribbon.souvenir-ribbon { width: 40px; height: 40px; background-position: -1680px -42px }
.pokesprite.ribbon.special-ribbon { width: 40px; height: 40px; background-position: -1722px -42px }
.pokesprite.ribbon.tough-ribbon-sinnoh { width: 40px; height: 40px; background-position: -1764px -42px }
.pokesprite.ribbon.tough-ribbon-hoenn { width: 40px; height: 40px; background-position: -1806px -42px }
.pokesprite.ribbon.tough-ribbon-great-sinnoh { width: 40px; height: 40px; background-position: -1848px -42px }
.pokesprite.ribbon.tough-ribbon-hyper-hoenn { width: 40px; height: 40px; background-position: -1890px -42px }
.pokesprite.ribbon.tough-ribbon-master-sinnoh { width: 40px; height: 40px; background-position: -1932px -42px }
.pokesprite.ribbon.tough-ribbon-master-hoenn { width: 40px; height: 40px; background-position: -1974px -42px }
.pokesprite.ribbon.tough-ribbon-super-hoenn { width: 40px; height: 40px; background-position: -2016px -42px }
.pokesprite.ribbon.tough-ribbon-ultra-sinnoh { width: 40px; height: 40px; background-position: -2058px -42px }
.pokesprite.ribbon.toughness-master-ribbon { width: 40px; height: 40px; background-position: -2100px -42px }
.pokesprite.ribbon.training-ribbon { width: 40px; height: 40px; background-position: -0px -84px }
.pokesprite.ribbon.victory-ribbon { width: 40px; height: 40px; background-position: -42px -84px }
.pokesprite.ribbon.winning-ribbon { width: 40px; height: 40px; background-position: -84px -84px }
.pokesprite.ribbon.wishing-ribbon { width: 40px; height: 40px; background-position: -126px -84px }
.pokesprite.ribbon.world-ability-ribbon { width: 40px; height: 40px; background-position: -168px -84px }
.pokesprite.ribbon.world-champion-ribbon { width: 40px; height: 40px; background-position: -210px -84px }
.pokesprite.ribbon.world-ribbon { width: 40px; height: 40px; background-position: -252px -84px }
.pokesprite.body-style.head-gen6 { width: 32px; height: 32px; background-position: -294px -84px }
.pokesprite.body-style.head-legs-gen6 { width: 32px; height: 32px; background-position: -328px -84px }
.pokesprite.body-style.fins-gen6 { width: 32px; height: 32px; background-position: -362px -84px }
.pokesprite.body-style.insectoid-gen6 { width: 32px; height: 32px; background-position: -396px -84px }
.pokesprite.body-style.quadruped-gen6 { width: 32px; height: 32px; background-position: -430px -84px }
.pokesprite.body-style.wings-multiple-gen6 { width: 32px; height: 32px; background-position: -464px -84px }
.pokesprite.body-style.multiple-gen6 { width: 32px; height: 32px; background-position: -498px -84px }
.pokesprite.body-style.tentacles-gen6 { width: 32px; height: 32px; background-position: -532px -84px }
.pokesprite.body-style.head-base-gen6 { width: 32px; height: 32px; background-position: -566px -84px }
.pokesprite.body-style.bipedal-tailed-gen6 { width: 32px; height: 32px; background-position: -600px -84px }
.pokesprite.body-style.bipedal-tailless-gen6 { width: 32px; height: 32px; background-position: -634px -84px }
.pokesprite.body-style.wings-single-gen6 { width: 32px; height: 32px; background-position: -668px -84px }
.pokesprite.body-style.serpentine-gen6 { width: 32px; height: 32px; background-position: -702px -84px }
.pokesprite.body-style.head-arms-gen6 { width: 32px; height: 32px; background-position: -736px -84px }
.pokesprite.special-attribute.shiny-leaf { width: 16px; height: 16px; background-position: -770px -84px }
.pokesprite.special-attribute.shiny-leaf--shadow { width: 16px; height: 16px; background-position: -788px -84px }
.pokesprite.special-attribute.leaf-crown { width: 31px; height: 22px; background-position: -806px -84px }
.pokesprite.special-attribute.leaf-crown--shadow { width: 31px; height: 22px; background-position: -839px -84px }
.pokesprite.special-attribute.mega-evolution-sigil-gen6 { width: 16px; height: 16px; background-position: -872px -84px }
.pokesprite.special-attribute.mega-evolution-sigil { width: 16px; height: 16px; background-position: -890px -84px }
.pokesprite.seals.move-physical { width: 32px; height: 14px; background-position: -908px -84px }
.pokesprite.seals.move-special { width: 32px; height: 14px; background-position: -942px -84px }
.pokesprite.seals.move-status { width: 32px; height: 14px; background-position: -976px -84px }