@if (BoxEdit is not null)
{
    <div>
        <div class="column-1 box">
            <h3>
                @BoxEdit.BoxName
            </h3>

            <table>
                @for (var rowNum = 0; rowNum < 5; rowNum++)
                {
                    <tr>
                        @for (var colNum = 0; colNum < 6; colNum++)
                        {
                            var boxSlot = rowNum * 6 + colNum;
                            var pkm = BoxEdit[boxSlot];
                            <BoxSlotComponent BoxSlot="boxSlot" Pokemon="pkm" />
                        }
                    </tr>
                }
            </table>

        </div>

        <div class="column-2 box">
            <PokemonDetailsComponent />
        </div>
    </div>
}
