@if (BoxEdit is not null)
{
    <div class="container">
        <div class="column-1 box">
            <h3>
                @BoxEdit.BoxName
            </h3>

            <div class="table-container">
                <table class="table table-bordered">
                    <tbody>
                        @for (var rowNum = 0; rowNum < 5; rowNum++)
                        {
                            <tr class="row">
                                @for (var colNum = 0; colNum < 6; colNum++)
                                {
                                    var pkm = BoxEdit[rowNum * 6 + colNum];
                                    <BoxSlotComponent Pokemon="pkm" />
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

        <div class="column-2 box">
            <PokemonDetailsComponent />
        </div>
    </div>
}
