@if (BoxEdit is not null)
{
    <MudStack Row="@previewRow">
        <div class="column-1 box box-container">
            <MudText Typo="Typo.h5">
                @BoxEdit.BoxName
            </MudText>
            <BoxGrid BoxEdit="@BoxEdit" />
        </div>
        <div class="column-2 box details-container">
            <PokemonDetailsComponent />
        </div>
    </MudStack>
}
