@if (BoxEdit is not null)
{
    <table>
        @for (var rowNum = 0; rowNum < rows; rowNum++)
        {
            <tr>
                @for (var colNum = 0; colNum < columns; colNum++)
                {
                    var boxSlot = rowNum * columns + colNum;
                    var pkm = BoxEdit[boxSlot];
                    <BoxSlotComponent BoxSlot="boxSlot"
                                      Pokemon="pkm" />
                }
            </tr>
        }
    </table>
}
