<td class="@GetCssClass()"
    @onclick="SetPreviewPokemon">

    <div class="box-slot">
        @if (Pokemon is { Species: > 0 })
        {
            <MudPaper Elevation="3" Class="slot-fill">
                <span>
                    @{
                        var sprite = SpriteHelper.GetPokemonSpriteFilename(Pokemon);
                    }
                    <MudImage Src="@sprite" />
                </span>
            </MudPaper>
        }
        else
        {
            <MudPaper Outlined="true"
                      Width="68px"
                      Height="62px">
            </MudPaper>
        }
    </div>

</td>
