<td class="@GetCssClass()"
    @onclick="SetPreviewPokemon">

    <div class="box-slot">
        @if (Pokemon is { Species: > 0 })
        {
            <MudPaper Elevation="3" Class="slot-fill">
                <span class="@(SpriteHelper.GetPokemonSpriteCssClass(Pokemon))">
                </span>
            </MudPaper>
        }
        else
        {
            <MudPaper Outlined="true">
                <span class="pokesprite pokemon empty">
                </span>
            </MudPaper>
        }
    </div>

</td>
