.box-slot {
    margin: 1px;
    padding: 1px;
    width: 68px;
    height: 62px;
}

.slot-fill :hover {
    transform-origin: center;
    animation: pulse 200ms ease-in-out forwards;
    border-radius: 6px;
}

@keyframes pulse {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.2);
    }
}

.pokesprite.pokemon.empty {
    background-image: url('');
}

td.selected {
    background-color: orange;
    border-radius: 6px;
}
