.box-slot {
    margin: 1px;
    padding: 1px;
}

.slot-fill :hover {
    transform-origin: center;
    animation: pulse 1000ms infinite ease-in-out forwards;
}

@keyframes pulse {
    from {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.2);
    }

    to {
        transform: scale(1.0);
    }
}

.pokesprite.pokemon.empty {
    background-image: url('');
}

td :hover {
    /*border: 1px solid black;*/
}

td.selected {
    border: 2px solid red;
}
