<td class="">
    <div class="box-slot @(Pokemon is not { Species: > 0 } ? "empty" : string.Empty)"
         @onclick="SetPreviewPokemon">
        @if (Pokemon is { Species: > 0 })
        {
            <span class="@(SpriteHelper.GetPokemonSpriteCssClass(Pokemon))"></span>
        }
    </div>
</td>
