@inherits BasePkmdsComponent

@if (AppState.SaveFile is SAV7b saveFile)
{
    <MudAlert Severity="Severity.Info"
              Dense>
        The box grid is scrollable.
    </MudAlert>
    <div
        class="lets-go-box-grid overflow-x-hidden overflow-y-auto max-w-full grid grid-cols-6 grid-rows-[repeat(167,80px)] gap-1">
        @{
            var count = 0;
        }
        @foreach (var pkm in saveFile.BoxData)
        {
            var slotNum = count;

            <LetsGoBoxSlotComponent SlotNumber="@slotNum"
                                    Pokemon="@pkm"
                                    OnSlotClick="@(() => SetSelectedPokemon(pkm, slotNum))"
                                    GetClassFunction="@(() => GetClass(slotNum))"/>

            count++;
        }
    </div>
}
