@inherits BasePkmdsComponent

@if (AppState.SaveFile is SAV7b saveFile)
{
    <MudText>
        Note: The box grid is scrollable.
    </MudText>
    <div
        class="overflow-x-hidden overflow-y-auto w-[420px] h-[398px] xl:h-[calc(100vh-319px)] grid grid-cols-5 grid-rows-[repeat(200,80px)]">
        @{
            var count = 0;
        }
        @foreach (var pkm in saveFile.BoxData)
        {
            var slotNum = count;

            <LetsGoBoxSlotComponent SlotNumber="@slotNum"
                                    Pokemon="@pkm"
                                    OnSlotClick="@(() => SetSelectedPokemon(pkm, slotNum))"
                                    GetClassFunction="@(() => GetClass(slotNum))"/>

            count++;
        }
    </div>
}
