img {
    max-width: 68px;
    max-height: 56px;
    align-self: center;
}

.slot-fill :hover {
    transform-origin: center;
    animation: bounce 500ms linear infinite;
    border-radius: 6px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}
