@page "/"

<PageTitle>
    PKMDS Save Editor
</PageTitle>

<div id="indexDiv">
    <MudText Typo="Typo.h3">
        PKMDS Save Editor
    </MudText>

    <SaveFileComponent />
</div>


@*"Red", "Orange", "Yellow", "Blue", "Green", "Pink",*@
