@page "/"

<PageTitle>
    PKMDS Save Editor
</PageTitle>

<div id="indexDiv">
    @if (AppState.SaveFile is null)
    {
        <MudText Typo="Typo.h5">
            Please load a save file.
        </MudText>
    }
    <SaveFileComponent />
</div>

