@inherits BasePkmdsComponent

@if (BoxEdit is not null)
{
    <div>
        <MudText Typo="Typo.h5">
            @BoxEdit.BoxName
        </MudText>
        <BoxGrid BoxEdit="@BoxEdit"
                 BoxNumber="@BoxNumber" />
    </div>
}
