.box-grid-lets-go {
    width: 420px;
    height: 398px;
    display: grid;
    overflow: scroll;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(200, 80px);
}

@media (min-width: 1280px) {
    .box-grid-lets-go {
        height: 796px;
    }
}
