@inherits BasePkmdsComponent

@if (AppState.SaveFile is SAV7b { } saveFile)
{
    <MudText>
        Note: The box grid is scrollable.
    </MudText>
    <div class="overflow-x-hidden overflow-y-none box-grid-lets-go">
        @{
            var count = 0;
        }
        @foreach (var pkm in saveFile.BoxData)
        {
            var slotNum = count;

            <LetsGoBoxSlotComponent SlotNumber="@slotNum"
                                    Pokemon="@pkm"
                                    OnSlotClick="@(() => SetSelectedPokemon(pkm, slotNum))"
                                    GetStyleFunction="@(() => GetStyle(slotNum))" />

            count++;
        }
    </div>
}
